<nav id="main-nav">
    <ul class="navbar-nav mr-auto">

        <li {% if ((app.request().pathInfo) == '/') %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            {# path foncyion symfony intégré a twig pour créer des liens #}
            {# {name: 'khun'} ajoutera ?name=khun dans la requet #}
            <a class="nav-link" href="{{ path('default_home',{name: 'Khun'}) }}"><i class="fa fa-home me-2"></i>Accueil</a>
        </li>

        <li {% if ((app.request.attributes.get('_route')) == 'default_contact') %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="{{ path('default_contact') }}"><i class="fa fa-phone me-2"></i>Contact</a>
        </li>

       <li {% if ((app.request().pathInfo) == '/contactez-nous') %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="{{ path('default_contact_us') }}"><i class="fa fa-envelope me-2 "></i>Contactez-nous</a>
        </li>

        <li {% if ((app.request().pathInfo) == '/client') %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="{{ path('client_clients') }}"><i class="fas fa-users me-2" ></i>Clients</a>
        </li>

        <li {% if ((app.request().pathInfo) == 'produit') %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="{{ path('produit') }}"><i class="fa fa-shopping-bag me-2" ></i>Produits</a>
        </li>
        <li {% if ((app.request().pathInfo) == '/commande') %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
            <a class="nav-link" href="{{ path('commande') }}"><i class="fa fa-shopping-cart me-2" ></i>Commandes</a>
        </li>



    </ul>
</nav>