{% extends 'base.html.twig' %}

{% block body %}
    <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4" style="font-style: italic">Contactez-nous</h2>


        <div class="row" style="padding-left: 50px; padding-top: 25px ; font-weight: bold">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                {# est nécessaire à l'envoie de formulaire #}
                <form id="contact-form" name="contact-form"  method="POST" enctype="multipart/form-data">

                    {# input caché qui contiendra un code généré par le srveur #}
                    {{form_widget(form._token)}}

                    {# {{ form_row(form.lastName) }} remplace form_label et form_widget et form_errors#}

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_row(form.firstName) }}
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="birthDate" class="">Your BirthDate</label>
                                {{ form_widget(form.birthDate) }}
                            </div>
                        </div>

                    <!--Grid row-->

                    <!--Grid row-->

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label>Gender</label>
                               {{ form_widget((form.genre)) }}
                            </div>
                        </div>
                    </div>

                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="email" class="">Your email</label>
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->


                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="subject" class="">Subject</label>
                                {{ form_widget(form.subject) }}
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <label for="content">Your message</label>
                                {{ form_widget(form.content) }}
                                {{ form_errors(form.content) }}
                            </div>

                        </div>
                    </div>

                    <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            {{ form_row(form.fichier) }}
                        </div>
                    </div>
                    </div>



                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.accepter) }}
                                <label for="accepter" class="">Acceptez les conditions</label>
                            </div>
                        </div>







                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <button class="btn btn-dark">
                                    <i></i>Send
                                    </button>
                                </div>
                            </div>



                </form>


            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center" style="padding-top: 100px">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>MSK Bruxelles, CP 1000, Belgique</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>02 25 25 30</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact_Msk@msk_Bruxelles.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->
{% endblock %}

{% block title %}
Contact-us
{% endblock %}

